@use 'theme' as *;

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body,
html {
  font-size: 16px;
  background-color: $color-bg;
  color: $color-text;
  min-height: 100vh;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}

p {
  color: $color-text-alt;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-text;
}

.container {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  padding: $size-0 $size-4;

  @media (min-width: 640px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    max-width: 860px;
    padding: 0;
  }
}

.header-flex {
  display: flex;
  align-items: center;
}

.header {
  background-color: $color-primary;
  height: $size-12;
}

.logo {
  max-height: $size-12;
  padding: $size-2 $size-2 $size-2 0;
  margin-right: $size-4;
}

.search-container {
  display: flex;
  width: 100%;
  border-radius: $rounded;
  overflow: hidden;

  & input[type='text'] {
    width: 100%;
    height: $size-8;
    padding: 0 $size-2;
    font-size: $text-lg;
  }
}

.search-button {
  background-color: $color-bg;
  background-image: url('/img/search.png');
  background-size: $size-4;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  height: $size-8;
  aspect-ratio: 1.25/1;
  cursor: pointer;
  opacity: 1;

  &:hover {
    background-color: lighten($color-text-alt, 35%);
  }
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  color: $color-text-alt;
  margin: $size-4 0;
  font-size: $text-sm;

  & li {
    &::before {
      content: '>';
      padding: 0 $size-2;
      font-weight: initial;
      color: $color-text-alt;
    }

    &:first-child::before {
      content: '';
      padding: 0;
    }

    &:last-child {
      font-weight: bold;
    }

    & a:hover {
      color: darken($color-text-alt, 20%);
    }
  }
}

.content-box {
  margin: $size-4 0;
  background-color: #ffffff;
  border-radius: $rounded;
  overflow: hidden;
}

.search-item {
  padding: $size-4;

  div &-flex {
    display: flex;
    margin-bottom: $size-8;

    & > a {
      flex: 0 0 98px;
    }
  }

  img {
    border-radius: $rounded;
    object-fit: contain;

    @media (min-width: 640px) {
      width: 180px;
      height: 180px;
    }
  }

  dl {
    padding: $size-4;
    max-width: 360px;
  }

  dt {
    @extend .visually-hidden;
    line-height: 1;
  }

  dd {
    font-size: $text-lg;
    line-height: 1.125;

    &.search-price {
      font-size: $text-xl;
      padding-bottom: $size-8;
    }
  }

  hr {
    border-color: $color-divider;
    border-width: 0.5px;
  }
}

.shipping-badge {
  display: inline-block;
  background-image: url('/img/shipping.png');
  background-size: 75%;
  background-position: center 100%;
  background-repeat: no-repeat no-repeat;
  vertical-align: baseline;
  width: 1em;
  height: 1em;
  margin-left: $size-2;
}

.details-flex {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row-reverse;
  }

  section {
    flex: 7 0;
    padding: $size-4 $size-8;
    @media (min-width: 640px) {
      padding: $size-8;
    }

    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;
      padding: $size-4;
      @media (min-width: 640px) {
        padding: $size-8;
      }
    }

    h2 {
      font-size: $text-2xl;
      margin-bottom: $size-4;
      @media (min-width: 640px) {
        margin-bottom: $size-8;
      }
    }

    p {
      font-size: $text-md;
      margin-bottom: $size-2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  aside {
    flex: 3 0;
    padding: $size-4 $size-4;

    @media (min-width: 640px) {
      padding: $size-8 $size-8 $size-8 0;
    }

    .metadata {
      display: block;
      font-size: $text-sm;
      margin-bottom: $size-2;
      @media (min-width: 640px) {
        margin-bottom: $size-4;
      }
    }

    .title {
      font-size: $text-xl;
      line-height: 1.125;
      font-weight: bold;
      margin-bottom: $size-4;
      @media (min-width: 640px) {
        margin-bottom: $size-8;
      }
    }

    .price {
      font-size: $text-3xl;
      margin-bottom: $size-4;
      @media (min-width: 640px) {
        margin-bottom: $size-8;
      }
      color: $color-text;
    }

    .cta {
      display: block;
      border-radius: $rounded;
      background-color: $color-cta;
      color: white;
      width: 100%;
      text-align: center;
      padding: $size-2 0;
    }
  }

  small {
    font-size: $text-sm;
  }
}

.price {
  color: $color-text;

  .price-decimals {
    vertical-align: super;
    padding-left: $size-1;
    font-size: 0.5em;
  }
}
